@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: "Fraunces", serif;
  background: #0f0c29;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
